<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>
		<add name="aPresentationLayer.Properties.Settings.SmartHearthCareDbConnectionStringDelcio"
		 connectionString="Data Source=(local);Initial Catalog=SmartHearthCareDb;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="aPresentationLayer.Properties.Settings.SmartHearthCareDbConnectionStringOneximo"
	   connectionString="Data Source=OSPLAPTOP\OSPSQLSERVER;Initial Catalog=SmartHealthCare;Integrated Security=True"
	   providerName="System.Data.SqlClient" />
		<add name="aPresentationLayer.Properties.Settings.SmartHearthCareDbConnectionString"
		 connectionString="Data Source=OSPLAPTOP\OSPSQLSERVER;Initial Catalog=SmartHearthCareDb;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="aPresentationLayer.Properties.Settings.SmartHealthCareConnectionString"
		 connectionString="Data Source=(local);Initial Catalog=SmartHearthCareDb;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>